<div class="caja2">
  <button *ngIf="mostrarDiv" (click)="CrearEstacion()">Crear Estacion</button>
</div>
<div class="caja" >

  <ul>
    <li *ngFor="let estacion of estaciones; let i = index">
      <input *ngIf="mostrarDiv2"  type="checkbox" name="chkSelected" id="selected{{estacion.id}}" [(ngModel)]="selection[i]" (ngModelChange)="onSelectPerson()" >
      {{i}} {{estacion.nombre}}
      <button *ngIf="mostrarDiv"  (click)="viewEstacion(estacion)">Ver</button>
      <button  *ngIf="mostrarDiv"  (click)="editEstacion(estacion)">Editar</button>
      <button *ngIf="mostrarDiv"  (click)="deleteEstacion(estacion)">Delete</button>
    </li>
  </ul>
  <!--<img class="imagen" src="/assets/estacion.png">-->
</div>
