<div>
  <h1>Trasmilenio</h1>
  <nav>
    <ul>
      <li routerLinkActive="menuSelected">
        <a [routerLink]="['/home']" >Home </a>
      </li>
      <li routerLinkActive="menuSelected">
        <a [routerLink]="['/conductor/list']" >Conductor </a>
      </li>
      <li routerLinkActive="menuSelected">
        <a [routerLink]="['/bus/list']" >Bus </a>
      </li>
      <li routerLinkActive="menuSelected">
        <a [routerLink]="['/ruta/list']" >Ruta </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
