#Transmi1{
  position: absolute;
  width: 1328px;
  height: 352px;
  left: 165px;
  top: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 300px;
  line-height: 352px;
  /* identical to box height */


  color: rgba(174, 245, 163, 0.4);
  animation: aparecer 1s ease-in-out forwards; /* Aplica la animación 'aparecer' con una duración de 1 segundo */
}


#Transmi2{

  position: absolute;
  width: 1328px;
  height: 352px;
  left: 150px;
  top: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 300px;
  line-height: 352px;
  /* identical to box height */


  color: #AAF5A3;
  animation: aparecer 1s ease-in-out forwards; /* Aplica la animación 'aparecer' con una duración de 1 segundo */
}

@keyframes aparecer {
  0% {
    opacity: 0; /* Inicia con opacidad 0 */
    transform: translateY(-20px); /* Desplaza el texto hacia arriba 20px */
  }
  100% {
    opacity: 1; /* Termina con opacidad 1 */
    transform: translateY(0); /* Sin desplazamiento vertical */
  }
}
