<p>ruta-create works!</p>
<h2>Ruta</h2>


<form [formGroup]="rutaForm" (ngSubmit)="crearRuta()">

  <label for="estacion">Estaciones: </label>
  <input id="estacion" type="text" formControlName="estacion">

  <label for="horario">Horario: </label>
  <input id="horario" type="text" formControlName="horario">

  <div *ngIf="rutaForm.controls.horario.invalid && (rutaForm.controls.horario.dirty || rutaForm.controls.horario.touched)"
       class="alert">

    <div *ngIf="rutaForm.controls.horario.errors?.['required']">
      Horario is required.
    </div>

  </div>

  <button type="submit" [disabled]="!rutaForm.valid">Save</button>
</form>

<button (click)="cancel()">Cancel</button>
<app-estacion-list [mostrarDiv]="false" [mostrarDiv2]="true"></app-estacion-list>
