<p>ruta-create works!</p>
<h2>Ruta</h2>


<form [formGroup]="rutaForm" (ngSubmit)="crearRuta()">
<button type="submit" [disabled]="!rutaForm.valid">Save</button>
<button (click)="cancel()">Cancel</button>

  <label for="horario">Horario: </label>
  <input id="horario" type="text" formControlName="horario">

  <div *ngIf="rutaForm.controls.horario.invalid || (rutaForm.controls.horario.dirty || rutaForm.controls.horario.touched)"
       class="alert">

    <div *ngIf="rutaForm.controls.horario.errors?.['required']">
      Horario is required.
    </div>

  </div>

</form>

<label>Estaciones: </label>
<app-estacion-list
  [mostrarDiv]="false" [mostrarDiv2]="true"
  (selectionChanged)="updateCount($event)"
  (estacionesSelecionadas)="cargarEstacionesSelecionadas($event)"
></app-estacion-list>
<p>Estaciones seleccionadas: {{nestaciones}}</p>
<li *ngFor="let estacion of estacionesSelec; let i = index">
 {{i}} {{estacion.nombre}}
</li>
